@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: var(--font-raleway)
  }

  body {
    @apply min-h-screen bg-neutral-900 text-neutral-200;
  }

  :root {
    --plyr-color-main: #ec4899;
    --plyr-audio-controls-background: #262626;
    --plyr-audio-control-color: #f5f5f5;
    --plyr-audio-progress-buffered-background: #525252;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #ec4899;
  }

  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: #262626;
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #db2777;
    border-radius: 14px;
  }
}

.plyr--audio {
  border-radius: 500px !important;
}